* {
    padding: 0%;
    background-color: blue;
}

.boton {
    display:  flex;
    justify-content:  center;
    align-items: center;
    background-size:  cover;
    height: 100%;
    width: 100%;
}

.btn-boton{
    display:flex ;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    height: 80px;
    width: 200px;
    color: black;
    background-color: antiquewhite;
    font-size: 50pt;
    border: 15px ;
    border-radius: 8px;
    transition: all ease 0.4s;

}

.btn-boton span{
    font-size: 20pt;
    background-color: transparent;

}

.btn-boton:hover{
    box-shadow: 15px 15px 15px 15px  black;
    background-color: aqua;
    color: antiquewhite;
    transform: translateY(-5px);
}